@media only screen and (max-width: 600px) {

    /* navbar */
    nav {
        display: none;
    }

    #mobile-navbar {
        display: block;
    }

    #mobile-navbar #visible-bar {
        display: flex;
        padding: 20px 8%;
        justify-content: space-between;
        align-items: center;
    }

    #mobile-navbar #logo {
        font-size: 25px;
        font-weight: 700;
    }

    #mobile-navbar #logo a {
        text-decoration: none;
        color: #335ff4;
    }

    #mobile-navbar #menu-icon {
        cursor: pointer;
        color: #335ff4;
        font-weight: 700;
        font-size: 22px;
    }

    #hidden-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #335ff4;
        padding: 20px 10%;
        box-shadow: 0 7px 10px #6583e6;
        display: none;
    }

    #hidden-menu a {
        text-decoration: none;
        color: #e5ecee;
    }

    #hidden-menu>div:first-of-type {
        font-size: 27px;
        font-weight: 700;
    }

    #hidden-menu .menu-type {
        font-size: 12px;
        margin: 10px 0;
        font-weight: 600;
    }

    #close-menu {
        position: absolute;
        top: 8px;
        right: 17px;
        color: #e5ecee;
        font-size: 30px;
        cursor: pointer;
    }

    /* topbar */

    #topbar {
        flex-direction: column;
        padding: 10px 7%;
        padding-bottom: 30px;
    }

    #topbar>div:first-of-type {
        width: 100%;
    }

    #topbar>div:first-of-type p {
        font-size: 16px;
    }

    #topbar>div:first-of-type button {
        display: none;
    }

    #topbar>div:last-of-type {
        width: 100%;
        margin-top: 50px;
    }

    #image-container {
        height: 22rem;
    }

    #topbar-btn-mobile-view {
        display: block;
        margin-top: 20px;
        background-color: #ecf0f1;
        border-style: none;
        padding: 0.75rem 0;
        border-radius: 130px;
        word-spacing: 0.08rem;
        letter-spacing: 0.03rem;
        font-weight: 700;
        font-size: 0.9rem;

    }

    #topbar-btn-mobile-view a {
        text-decoration: none;
        color: #335ff4;
        padding: 0.75rem 5rem;
    }

    /* section layout */

    .section-layout {
        padding: 0 7%;
        margin-top: 1.7rem;
    }

    /* featured, */

    #featured h2 {
        font-size: 1.75rem;
        margin: 7px 0;
    }

    span {
        font-size: 1.75rem;
    }

    /*about-me*/
    #about-me h4 {
        font-size: 1.55rem;
    }

    #about-me #img-div2 {
        width: 100%;
        height: 22rem;
        margin-top: 1.5rem;
    }

    #about-me #details {
        margin-top: 1.5rem;
    }

    #about-me #details p {
        font-size: 1.05rem;
    }

    /*services*/
    #services #btn-container {
        margin-top: 1.2rem;
        margin-bottom: 0.8rem;
    }

    #services #btn-container button {
        padding: 0.4rem 0.7rem;
        font-size: 0.8rem;
        margin: 0 0.2rem;
    }

    /* community-details */
    #community-details {
        flex-direction: column;
    }

    #community-details>div:first-of-type {
        width: 100%;
    }

    #community-details>div:first-of-type button {
        display: none;
    }

    #community-details>div:last-of-type {
        width: 100%;
        margin-top: 20px;
    }

    #community-details>div:last-of-type img {
        width: 100%;
    }

    /* courses details */

    #courses-details {
        flex-direction: column;
    }

    #courses-details .info-box {
        width: 100%;
        margin-bottom: 10px;
    }

    /* consultation details */

    #consultation-details {
        flex-direction: column;
    }

    #consultation-details .consultation-box {
        width: 100%;
        margin-bottom: 10px;
    }

    /* testimonials */
    #testimonial-box-container {
        flex-direction: column;
        position: relative;
        transition: all 2s;
    }

    #testimonial-box-container .testimonial-box {
        width: 100%;
    }

    #testimonial-box-container .testimonial-box #testimonial-img {
        width: 35%;
        height: 105px;
    }

    #testimonial-box-container>div:nth-of-type(2) {
        display: none;
    }

    #testimonial-box-container>div:nth-of-type(3) {
        display: none;
    }

    #scroll-icons {
        display: block;
    }

    #scroll-icons .fa-solid {
        position: absolute;
        top: 50%;
        transform: translate(-50%);
        color: #bdc3c7;
        font-size: 25px;
        cursor: pointer;
    }

    #scroll-icons .fa-less-than {
        left: 10%;
    }

    #scroll-icons .fa-greater-than {
        right: 10%;
    }

    #media-section,
    #app-install,
    #contact,
    footer {
        display: none;
    }
}