@media only screen and (max-width: 600px) {

    /* navbar */
    nav {
        display: none;
    }

    #mobile-navbar {
        display: block;
    }

    #mobile-navbar #visible-bar {
        display: flex;
        padding: 20px 8%;
        justify-content: space-between;
        align-items: center;
    }

    #mobile-navbar #logo {
        font-size: 25px;
        font-weight: 700;
    }

    #mobile-navbar #logo a {
        text-decoration: none;
        color: #335ff4;
    }

    #mobile-navbar #menu-icon {
        cursor: pointer;
        color: #335ff4;
        font-weight: 700;
        font-size: 22px;
    }

    #hidden-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #e5ecee;
        padding: 20px 10%;
        display: none;
    }

    #hidden-menu a {
        text-decoration: none;
        color: #335ff4;
    }

    #hidden-menu>div:first-of-type {
        font-size: 27px;
        font-weight: 700;
    }

    #hidden-menu .menu-type {
        font-size: 12px;
        margin: 10px 0;
        font-weight: 600;
    }

    #close-menu {
        position: absolute;
        top: 8px;
        right: 17px;
        color: #335ff4;
        font-size: 30px;
        cursor: pointer;
    }

    /* topbar */

    #topbar {
        flex-direction: column;
        padding: 10px 7%;
        padding-bottom: 30px;
    }

    #topbar>div:first-of-type {
        width: 100%;
    }

    #topbar>div:first-of-type p {
        font-size: 16px;
    }

    #topbar>div:first-of-type button {
        display: none;
    }

    #topbar>div:last-of-type {
        width: 100%;
        margin-top: 50px;
    }

    #image-container {
        height: 22rem;
    }

    #topbar-btn-mobile-view {
        display: block;
        margin-top: 20px;
        background-color: #ecf0f1;
        border-style: none;
        padding: 0.75rem 0;
        border-radius: 130px;
        word-spacing: 0.08rem;
        letter-spacing: 0.03rem;
        font-weight: 700;
        font-size: 0.9rem;

    }

    #topbar-btn-mobile-view a {
        text-decoration: none;
        color: #335ff4;
        padding: 0.75rem 5rem;
    }

    /* section layout */

    .section-layout {
        padding: 0 7%;
        margin-top: 2.5rem;
    }

    /* featured, */

    #featured h2 {
        font-size: 1.55rem;
        margin: 7px 0;
    }

    span {
        font-size: 1.75rem;
    }

    /*about-me*/
    #about-me h4 {
        font-size: 1.55rem;
    }

    #about-me #img-div2 {
        width: 100%;
        height: 22rem;
        margin-top: 1.5rem;
    }

    #about-me #details {
        margin-top: 1.5rem;
    }

    #about-me #details p {
        font-size: 1.05rem;
    }

    /*services*/
    #services #btn-container {
        margin-top: 1.2rem;
        margin-bottom: 0.8rem;
    }

    #services #btn-container button {
        padding: 0.5rem 0.75rem;
        font-size: 0.8rem;
        margin: 0 0.15rem;
    }

    /* community-details */
    #community-details {
        flex-direction: column;
    }

    #community-details>div:first-of-type {
        width: 100%;
    }

    #community-details>div:first-of-type button {
        display: none;
    }

    #community-details>div:last-of-type {
        width: 100%;
        margin-top: 20px;
    }

    #community-details>div:last-of-type img {
        width: 100%;
    }

    /* courses details */

    #courses-details {
        flex-direction: column;
    }

    #courses-details .info-box {
        width: 100%;
        margin-bottom: 10px;
    }

    /* consultation details */

    #consultation-details {
        flex-direction: column;
    }

    #consultation-details .consultation-box {
        width: 100%;
        margin-bottom: 10px;
    }

    /* testimonials */
    #testimonial-box-container {
        flex-direction: column;
        position: relative;
        transition: all 2s;
    }

    #testimonial-box-container .testimonial-box {
        width: 100%;
    }

    #testimonial-box-container .testimonial-box #testimonial-img {
        width: 35%;
        height: 105px;
    }

    #testimonial-box-container>div:nth-of-type(2) {
        display: none;
    }

    #testimonial-box-container>div:nth-of-type(3) {
        display: none;
    }

    #scroll-icons {
        display: block;
    }

    #scroll-icons .fa-solid {
        position: absolute;
        top: 50%;
        transform: translate(-50%);
        color: #dadddf;
        font-size: 25px;
        cursor: pointer;
        padding: 5px;
        background-color: rgb(240, 237, 237);
        border-radius: 50%;
    }

    #scroll-icons .fa-less-than {
        left: 10%;
    }

    #scroll-icons .fa-greater-than {
        right: 5%;
    }

    /* media-section */
    #media-section h4 {
        margin-bottom: 25px;
    }

    #media-section video {
        width: 100%;
    }

    /* app-install */
    #app-install {
        padding: 50px 6%;
        padding-bottom: 30px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
    }

    #app-install h2 {
        font-size: 1.5rem;
    }

    #app-install h2 br {
        display: none;
    }

    #app-install #desktop-view {
        display: none;
    }

    #app-install #mobile-view {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    #app-install>div:last-of-type div {
        width: 50%;
    }

    #app-install>div:last-of-type div img {
        width: 100%;
    }

    /* contact */
    #contact-box-container {
        flex-direction: column;
        margin-top: 25px;
    }

    #contact-box-container .contact-box {
        width: 100%;
        margin-bottom: 15px;
    }

    #contact-box-container .contact-box i {
        color: #2C3A47;
    }

    #contact-box-container .contact-box p,
    h4 {
        font-size: 1.22rem;
    }

    /* footer */

    footer {
        margin-top: 15px;
        padding: 10px 6%;
        padding-bottom: 20px;
    }

    footer h2 {
        margin-bottom: 13px;
    }

    footer #store div {
        width: 30%;
    }

    footer hr {
        display: block;
        margin: 15px 0;
        border: 1.7px solid #5578ee;
    }

    footer #copyright {
        font-size: 0.8rem;
        flex-direction: column;
        align-items: center;
    }

    footer #copyright>div:first-of-type {
        margin-bottom: 10px;
    }
}