@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Manrope:wght@300;500;600;700;800&family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #e5ecee;
}

/* navbar start */

nav {
    display: flex;
    padding: 15px 14%;
    align-items: center;
    justify-content: space-between;
    color: #2C3A47;
}

nav>div:first-of-type {
    font-size: 1.2rem;
    font-weight: 700;
}

nav>div:first-of-type a {
    color: #335ff4;
}

nav>div:last-of-type {
    width: 27%;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

nav>div:last-of-type a {
    color: #2C3A47;
}

nav>div:last-of-type a:hover {
    color: #335ff4;
}

nav a {
    text-decoration: none;
}

/* navbar end */

/* mobilenavbar*/
#mobile-navbar {
    display: none;
}

/* main start */

/* topbar start */

#topbar {
    display: flex;
    justify-content: space-between;
    background-color: #335ff4;
    padding: 8% 14% 4% 14%;
}

#topbar>div:first-of-type {
    width: 50%;
    color: #ecf0f1;
    transform: translateY(10%);
}

#topbar>div:first-of-type h2 {
    font-size: 2.1rem;
    font-weight: 800;
    word-spacing: 0.08rem;
    letter-spacing: 0.03rem;
    margin-bottom: 0.9rem;
}

#topbar>div:first-of-type p {
    font-size: 0.9rem;
    font-weight: 400;
    word-spacing: 0.08rem;
    letter-spacing: 0.03rem;
    margin-bottom: 2.3rem;
}

#topbar>div:first-of-type button {
    background-color: #ecf0f1;
    border-style: none;
    padding: 0.75rem 0;
    border-radius: 110px;
    word-spacing: 0.08rem;
    letter-spacing: 0.03rem;
    font-weight: 700;
    font-size: 0.9rem;
}

#topbar>div:first-of-type button a {
    text-decoration: none;
    color: #335ff4;
    padding: 0.75rem 5rem;
}

#topbar>div:last-of-type {
    width: 40%;
}

#image-container {
    width: 100%;
    height: 23rem;
    border-radius: 25px;
    background-image: url(./image/bg.jpg);
    background-size: cover;
    position: relative;
}

#img-div {
    position: absolute;
    width: 100%;
    bottom: 0.5rem;
}

#img-div img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

#topbar-btn-mobile-view {
    display: none;
}

/* topbar end */

/* featured start */

.section-layout {
    padding: 0 14%;
    margin-top: 2rem;
    text-align: center;
    color: #2C3A47;
}

.section-title {
    font-size: 1.05rem;
    margin-bottom: 6px;
    text-align: center;
    font-weight: 600;
    color: #2C3A47;
}

#featured h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #335ff4;
    font-size: 2.4rem;
    font-weight: 500;
}

span {
    font-family: 'Times New Roman', Times, serif;
    color: #335ff4;
    font-size: 2.4rem;
    font-weight: 600;
}

/* featured end */

/* about-me start */

#about-me {
    color: #2C3A47;
}

#about-me h4 {
    font-size: 1.55rem;
}

#about-me #img-div2 {
    width: 32%;
    height: 19rem;
    margin: auto;
    margin-top: 2rem;
    border: 2px solid #b2bec3;
    border-radius: 50%;
    overflow: hidden;
}

#about-me #img-div2 img {
    width: 100%;
}

#about-me #details {
    margin-top: 2rem;
}

#about-me #details p {
    margin: 1rem 0;
    font-size: 0.95rem;
    font-weight: 600;
}

.social-icons a {
    font-size: 1.5rem;
    margin: 0 0.7rem;
}

#about-me .social-icons a {
    color: #335ff4;
}

/* about-me end */

/* services start */
#services {
    color: #2C3A47;
}

#services h4 {
    font-size: 1.55rem;
}

#services #btn-container {
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}

#services #btn-container button {
    border: 2px solid #dfe6e9;
    padding: 0.65rem 1.95rem;
    border-radius: 100px;
    letter-spacing: 0.035rem;
    font-weight: 600;
    font-size: 0.95rem;
    margin: 0 0.9rem;
    cursor: pointer;
}

#services #btn-container button:first-of-type {
    background-color: #335ff4;
    color: #ecf0f1;
}

#services-details-container>div:nth-of-type(2) {
    display: none;
}

#services-details-container>div:nth-of-type(3) {
    display: none;
}

/* community details */

#community-details {
    text-align: left;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#community-details>div:first-of-type {
    width: 45%;
    font-weight: 500;
}

#community-details>div:first-of-type h3 {
    font-family: 'DM Serif Display', serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 1.85rem;
    margin-bottom: 0.7rem;
}

#community-details>div:first-of-type p {
    margin-bottom: 0.8rem;
}

#community-details>div:first-of-type li {
    margin-bottom: 0.7rem;
    list-style: none;
}

#community-details>div:first-of-type button {
    background-color: #335ff4;
    color: #ecf0f1;
    border-style: none;
    padding: 0.7rem 4rem;
    border-radius: 100px;
    letter-spacing: 0.035rem;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 1.4rem;
    cursor: pointer;
}

#community-details>div:last-of-type {
    width: 45%;
}

#community-details>div:last-of-type img {
    width: 85%;
    float: right;
    border-radius: 20px;
}

/* courses details */

#courses-details {
    text-align: left;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#courses-details .info-box {
    width: 31%;
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 20px;
}

#courses-details .info-box img {
    width: 100%;
}

#courses-details .info-box h5 {
    font-size: 1.05rem;
    margin: 0.7rem 0;
}

#courses-details .info-box p {
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
}

#courses-details .info-box button {
    padding: 0.6rem 0;
    font-size: 0.9rem;
    font-weight: 600;
    width: 100%;
    background-color: #335ff4;
    color: #ecf0f1;
    border-style: none;
    border-radius: 100px;
    letter-spacing: 0.035rem;
    cursor: pointer;
}

/* consultation details */

#consultation-details {
    text-align: left;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#consultation-details .consultation-box {
    width: 31%;
    background-color: #ffffff;
    padding: 1.1rem;
    border-radius: 20px;
}

#consultation-details .consultation-box>div:first-of-type .fa-phone {
    font-size: 1.3rem;
    color: #335ff4;
    padding: 8px;
    background: #dfe6e9;
    border-radius: 50%;
    cursor: pointer;
}

#consultation-details .consultation-box>div:first-of-type iconify-icon {
    font-size: 1.2rem;
    padding: 8px;
    background: #dfe6e9;
    border-radius: 43%;
    cursor: pointer;
}

#consultation-details .consultation-box h4 {
    font-size: 1.05rem;
    margin: 0.8rem 0;
}

#consultation-details .consultation-box>div:last-of-type {
    font-size: 13.5px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3rem;
}

#consultation-details .consultation-box button {
    padding: 0.6rem 0;
    font-size: 0.8rem;
    font-weight: 600;
    width: 100%;
    background-color: #335ff4;
    color: #ecf0f1;
    border-style: none;
    border-radius: 100px;
    letter-spacing: 0.035rem;
    cursor: pointer;
}

/* services end */

/* testimonials start */
#testimonials {
    color: #2C3A47;
}

#testimonials h4 {
    font-size: 1.55rem;
}

#testimonial-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

#testimonial-box-container .testimonial-box {
    width: 31%;
    background-color: #ffffff;
    padding: 1.2rem;
    border-radius: 20px;
}

#testimonial-box-container .testimonial-box #review {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 22px;
}

#testimonial-box-container .testimonial-box #testimonial-img {
    width: 33%;
    height: 85px;
    margin: 10px auto;
    border-style: none;
    border-radius: 50%;
    overflow: hidden;
}

#testimonial-box-container .testimonial-box #testimonial-img img {
    width: 100%;
}

#testimonial-box-container .testimonial-box #testimonial-name {
    font-weight: 700;
}

#testimonial-box-container .testimonial-box #testimonial-desig {
    font-size: 0.9rem;
}

#scroll-icons {
    display: none;
}

/* testimonial end*/

/* media sectlion start */
#media-section {
    color: #2C3A47;
}

#media-section h4 {
    font-size: 1.55rem;
    margin-bottom: 30px;
}

#media-section video {
    width: 90%;
    margin: auto;
    border-radius: 20px;
}

/* media section end */

/* app install start*/
#app-install {
    margin-top: 40px;
    background-color: #335ff4;
    color: #ecf0f1;
    padding: 60px 16%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align: center;
}

#app-install p {
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 17px;
}

#app-install h2 {
    font-size: 2.2rem;
    margin-bottom: 25px;
}

#app-install #desktop-view {
    padding: 0.78rem 3.5rem;
}

#app-install button {
    background-color: #ecf0f1;
    color: #335ff4;
    border-style: none;
    padding: 0.78rem 0;
    border-radius: 110px;
    word-spacing: 0.08rem;
    letter-spacing: 0.03rem;
    font-weight: 700;
    font-size: 0.85rem;
    cursor: pointer;
}

#app-install #mobile-view {
    display: none;
}

#app-install>div:last-of-type {
    margin-top: 30px;
    display: flex;
    align-items: end;
    justify-content: center;
}

#app-install>div:last-of-type div {
    width: 40%;
}

/* app install end */

/* contact-start */
#contact {
    color: #2C3A47;
}

#contact h4 {
    font-size: 1.40rem;
}

#contact-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

#contact-box-container .contact-box {
    width: 33%;
    display: flex;
    align-items: center;
    text-align: left;
}

#contact-box-container .contact-box i {
    color: #335ff4;
    font-size: 2rem;
    margin-right: 20px;
    padding: 7px;
    background-color: #dfe6e9;
    border-radius: 50%;
}

#contact-box-container .contact-box p {
    font-size: 0.95rem;
    color: #adb1b1;
    margin-bottom: 5px;
}

#contact-box-container .contact-box h4 {
    font-size: 0.95rem;
}

#contact-box-container .contact-box h4 a {
    text-decoration: none;
    color: #2C3A47;
}

/* contact end */

/* footer start */
footer {
    background-color: #335ff4;
    margin-top: 30px;
    text-align: center;
    padding: 25px 14%;
}

footer h2 {
    margin-bottom: 20px;
}

footer h2 a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 2.1rem;
}

footer .social-icons a {
    color: #ecf0f1;
}

footer #store {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

footer #store div {
    width: 13%;
    margin: 0 7px;
}

footer #store div img {
    width: 100%;
}

footer #copyright {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    color: #ecf0f1;
    font-size: 0.9rem;
}

footer #copyright>div {
    margin: 0 15px;
}

footer #copyright>div:last-of-type {
    display: flex;
    justify-content: space-between;
}

footer #copyright>div:last-of-type div {
    margin: 0 15px;
}

footer hr {
    display: none;
}